{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="{% static 'blog/comments.css' %}">
</head>
<body>

        	<div class="">
        		<div class="card-header">Chat</div>
        		<div class="card-body height3">
        			<ul class="chat-list">
        				<li class="in">

        					<div class="chat-body">
        						<div class="chat-message">
        							<h4>Jimmy Willams</h4>
        							<h5>Raw denim heard of them tofu master cleanse</h5>
        							<h5>Raw denim heard of them tofu master cleanse</h5>
        							<h5>Raw denim heard of them tofu master cleanse</h5>
        							<h5>Raw denim heard of them tofu master cleanse</h5>
        							<p>2022-06-06 22:00</p>
        						</div>
        					</div>
        				</li>

        			</ul>
        		</div>
        	</div>

</body>
</html>
