<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h1 style="padding: 5px;">Register</h1>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="enter username">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="enter password">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="confirm password">
            <input type="submit" class="fadeIn fourth" value="Register">
        </form>


    </div>
</div>
